<%- include('header') %> 
<body>
    <!------------------------------>
    <!-- Your HTML Layout go here -->
    <!------------------------------>

    <!-- our own navbar goes here -->
    <nav id="navbarPlaceholder"></nav>

    <!-- the body of your page goes here -->
    <div class="container">
        <h1>User Profile </h1>
        <form>
            <fieldset class="mb-3" id="personalInfoFields" disabled>
                <div class="mb-3">
                    <h2>Profile Picture Upload</h2>
                    <input type="file" id="fileInput" accept="image/*">
                    <img id="uploadPhoto" style="width: 100px; border-radius: 50%;"></img>
                </div>
                <div class="form-group">
                    <label>name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label>About me</label>
                    <input type="text" id="bio" name="bio" class="form-control" placeholder="Write a short bio about yourself">
                </div>
                <div class="form-group">
                    <label for="locationInput">Location</label>
                    <input type="text" id="location" class="form-control" placeholder="Enter your city or country">
                </div>                
                <div class="form-group">
                    <label>Age</label>
                    <select id="ageInput" class="form-control" required>
                        <option value="" disabled selected>Select your age</option>
                    </select>
                </div> 
                <div class="form-group" style="margin-bottom: 20px;">
                    <label>Gender</label><br>
                    <div style="display: inline-block; margin-right: 20px;">
                        <input type="radio" id="male" name="gender" value="Male">Male
                    </div>
                    <div style="display: inline-block; margin-right: 20px;">
                        <input type="radio" id="female" name="gender" value="Female">Female
                    </div>
                    <div style="display: inline-block; margin-right: 20px;">
                        <input type="radio" id="other" name="gender" value="Other">Other
                    </div>
                </div>
            </fieldset>
            <div class="d-flex justify-content-start mt-5">
                <button type="button" class="btn btn-secondary" onclick="editUserInfo()">Edit</button>
                <span style="width: 10px"></span>
                <button type="button" class="btn btn-info" id="savebtn">Save</button>
            </div>
            <div id="saveMessage" style="display: none; padding: 10px; margin-top: 10px;"></div>
        </form>
    </div>

    <!-- our own footer goes here-->
    <nav id="footerPlaceholder"></nav>

    <!---------------------------------------------->
    <!-- Your own JavaScript functions go here    -->
    <!---------------------------------------------->

    
    <script src="/js/editProfile.js"></script> 

<%- include('footer') %>