
  <%- include('header') %>  

  <div id="map" style="width: 100%; height: 700px;"></div>
    <script src="/js/mapLoader.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcVh_OFbpHlxrZo6KlPLYZm223Oe-Qu3A&callback=initMap" async defer>
  </script>
  <%- include('footer') %>
